<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="odp.net.x64" version="112.3.20" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.021" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.1.021" targetFramework="net45" />
</packages>